:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
  box-sizing: border-box;
}

.App {
  // outline: 1px solid red;
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

figure {
  display: flex;
  margin: 0rem;
  padding: 0.2rem;
  max-width: 25%;
  min-width: 10rem;
  height: 12rem;
  overflow: hidden;
  
  img {
    width: 100%;
    object-fit: contain;
  }
}

ol {
  margin: 0;
  padding: 0;
  gap: 0.2rem;
  // * {
  //   outline: 2px dashed magenta;
  // }
  button {
    border: 1px solid lightgray;
    border-radius: 3px;
    background: none;
    font-size: 1rem;
    margin: 0;
  }
}